<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <title>Update Student Details</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-md text-center">
            <a class="navbar-brand container-md" href="/">Virtualization Mini Project</a>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-white bg-secondary text-center p-3">Update Student Details</h2>
                <br />

                <form action="/update/{{d.id}}" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Enter the Student Name" name="name"
                                value="{{d.name}}" required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="email" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="Enter the Student Email" name="email"
                                value="{{d.email}}" required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="age" class="col-sm-2 col-form-label">Age:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" placeholder="Enter the Student Age" name="age"
                                value="{{d.age}}" required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="gender" class="col-sm-2 col-form-label">Gender:</label>
                        <div class="col-sm-10">
                            <select id="gender" class="form-control" name="gender" required>
                                <option selected> {{d.gender}}</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                    </div>
                    <br />

                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="submit">Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>
