<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Virtualization Mini Project</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-md text-center">
        <a class="navbar-brand container-md" href="/">Virtualization Mini Project Demo Class</a>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4">
          <h2 class="text-white bg-secondary text-center p-3">
            Insert Student Details
          </h2>
          <br />


          <form action="/insert" method="post"> {% csrf_token %}
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Enter the Student Name"
                name="name"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="email"
                class="form-control mt-2"
                placeholder="Enter the Student Email"
                name="email"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="number"
                class="form-control mt-2"
                placeholder="Enter the Student Age"
                name="age"
                required
              />

              <div class="form-group">
                <select id="gender" class="form-control mt-2" name="gender" required>
                  <option selected>Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="others">Others</option>
                </select>
              </div>
            </div>
            <br />

            <div class="d-grid gap-2">
              <button class="btn btn-success" type="submit">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-md-8">

        <h2 class="text-center text-white bg-secondary p-3">Student Details</h2>
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
        
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

  {% for d in data %}
    <tr>
      <th scope="row">{{d.id}}</th>
      <td>{{d.name}}</td>
      <td>{{d.email}}</td>
      <td>{{d.age}}</td>
      <td>{{d.gender}}</td>
      <td><a type="button" href="/update/{{d.id}}" class="btn btn-outline-warning">Edit</a></td>
      <td><a type="button" href="/delete/{{d.id}}" class="btn btn-outline-danger">Delete</a></td>
      
    </tr>
{% endfor %}

  </tbody>
</table>


        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
